* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 5px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background:url(../assety/graficzne/Tlo_alfa.png) center/cover no-repeat fixed ;
  background:url(../assety/graficzne/Tlo_alfa.webP) center/cover no-repeat fixed ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body button, html button {
  cursor: pointer;
}
body a, html a {
  text-decoration: none;
}

h1 h2 h3 h4 h5 h6{
  font-family: Georgia, serif;
}
.to_top{
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1;
}
.top_btn{
  width: 44px;
  height: 45px;
  border-radius: 25px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  box-shadow: 0 15px 15px rgb(0 0 0 / 30%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.top_btn:hover{
  transform: scale(1.3);
}
p{
  font-family: Verdana, sans-serif;
}
.logo {
  /*position: fixed;*/
  position: absolute;
  top: 20px;
  z-index: 50;
}
.logo img{
  width:28%;
}
.pozycja_menu
{
  position: fixed;
  top: 5%;
  right: 2%;
}
.crumb1_menu li
{
  display: inline-block;
  padding: 15px;
  background: #ea5b0c;
  transform: skew(-20deg);
  cursor: pointer;
  opacity: 0.8;
}

.crumb1_menu li:hover
{
  opacity: 1;
  box-shadow: 0 7px 20px 5px #00000088;
}

.crumb1_menu li a
{
  display: block;
  transform: skew(20deg);
  color: #fff
}

.menu_mobile {
  display: none;
  --s: 33px; /* control the size */
  --c: white; /* the color */
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s)/2) solid #0000; 
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
         no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
         repeat-y content-box border-box;
  background: 
    var(--_g2) left  var(--_p,0px) top,
    var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
    var(--_g2) right var(--_p,0px) top,
    var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
  background-size: 
    20% 80%,
    40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
  cursor: pointer;
  transition: 
    background-position .3s var(--_s,.3s), 
    clip-path 0s var(--_s,.6s);
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
.menu_mobile:before,
.menu_mobile:after {
  content:"";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform .3s calc(.3s - var(--_s,.3s));
}

.menu_mobile:checked {
  clip-path: inset(0);
  --_p: calc(-1*var(--s));
  --_s: 0s;
}
.menu_mobile:checked:before {
  transform: rotate(45deg);
}
.menu_mobile:checked:after {
  transform: rotate(-45deg);
}
.menu_mobile:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

.pozycja_menu_2{
  position: fixed;
  top: 12%;
  right: 4%;
}
.crumb1_menu_2{
  display: none;
}
.crumb1_menu_2 li{
  display: inline-block;
  padding: 15px;
  background: #ea5b0c;
  transform: skew(-20deg);
  cursor: pointer;
}

.crumb1_menu_2 li:hover{
  opacity: 1;
  box-shadow: 0 7px 20px 5px #00000088;
}

.crumb1_menu_2 li a{
  display: block;
  transform: skew(20deg);
  color: #fff
}
.container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .btn {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 50px;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.container .btn:hover a {
  letter-spacing: 3px;
}
.container .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}
.container .btn:hover a::before {
  transform: skewX(45deg) translate(200px);
}
.container .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.container .btn:hover::before /*lightup button*/ {
  bottom: 0;
  height: 50%;
  width: 90%;
  border-radius: 30px;
}

.container .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.container .btn:hover::after /*lightup button*/ {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}
.container .btn:nth-child(1)::before, /*chnage 1*/
.container .btn:nth-child(1)::after {
  background: #ea5b0c;
  box-shadow: 0 0 5px #ea5b0c, 0 0 15px #ea5b0c, 0 0 30px #ea5b0c,
    0 0 60px #ea5b0c;
}
.container .btn:nth-child(2)::before, /* 2*/
.container .btn:nth-child(2)::after {
  background: #3d498f;
  box-shadow: 0 0 5px #3d498f, 0 0 15px #3d498f, 0 0 30px #3d498f,
    0 0 60px #3d498f;
}
.container .btn:nth-child(3)::before, /* 3*/
.container .btn:nth-child(3)::after {
  background: #ffffff;
  box-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 30px #ffffff,
    0 0 60px #ffffff;

}

.container .btn:nth-child(4)::before, /* 4*/
.container .btn:nth-child(4)::after {
  background: #EA202C;
  box-shadow: 0 0 5px #EA202C, 0 0 15px #EA202C, 0 0 30px #EA202C,
    0 0 60px #EA202C;
}

.color_ciemna_biel{
  color: #fff;
}
.color_ciemna_biel a:hover{
  color:#808080;
}
.bubble {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 65%;
  height: 140%;
  border-radius: 0% 0% 50% 50%;
  left: -30%;
  top: -20%;
  background-color: rgba(0, 0, 0, 0.8);
}

.hero2-text {
  position: absolute;
  width: 20%;
  left: 5%;
  top: 25%;
  color: white;
  font-family: Georgia, serif;
  font-weight: 300;
  font-size: 22px;
}
.hero2-text h1 {
  font-weight: 400;
  font-family: Georgia, serif;
  font-size: 46px;
}
.hero2-text button {
  margin-top: 25px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  font-size: 22px;
}
.hero2-text button a {
  letter-spacing: 1.5px;
  font-family: Georgia, serif;
  color: #6f2a59;
}
.hero2-text button:hover {
  transform: translate(1px, 1px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #4a1c3b;
}

.hero2{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.4), black), url("../assety/foto/pexels-kateryna-babaieva-3678226.jpg");
  background-position: center;
  filter: grayscale(40%);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.border-text {
  width: 160px;
  text-transform: uppercase;
  z-index: 1;
  font-size: 20px;
  letter-spacing: 1.8px;
  color: #ea5b0c;
  text-align: left;
  overflow: hidden;
  font-weight: bolder;
}

.hero2-text {
  z-index: 0;
  width: 50%;
  top: 30%;
  font-family: Georgia, serif;
  letter-spacing: 1.8px;
  position: relative;
  border: solid rgba(222, 178, 33, 0.3) 2px;
  padding-left: 40px;
  padding-right: 30px;
}
.hero2-text p {
  margin: 0px;
}
.hero2-text h1 {
  font-family: Georgia, serif;
  font-size: 52px;
  letter-spacing: 4px;
}
.hero2-text button {
  position: relative;
  border: solid #ea5b0c 3px;
  border-radius: 25px;
  background-color: #212121;
  text-transform: uppercase;
  font-family: Georgia, serif;
  letter-spacing: 2px;
  margin-left: 0;
  bottom: -40px;
  color: #fff;
  font-size: 18px;
  padding:4%;
}
.hero2-text button:hover {
  transform: translate(0px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #deb221;
  background-color: black;
  border: solid #deb221 3px;
}


.card {
  /*max-width: 300px;*/
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  height: 300px;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(234, 91, 12, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.card-footer {
  font-size: 0.65em;
  color: #446;
}


.container-02 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.etykieta_glass {
  position: relative;
  z-index: 11;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 5px 8px;
  font-size: 25px;
  border-radius: 15px;
  border-top: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
  border-left: 1px solid rgba(255,255,255,0.5);	
  background: rgba(255,255,255,0.05);

}

.container-02 .glassmorphic-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  width: 320px;
  height: 500px;
  padding: 40px 30px;
  margin: 28px;
  box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
  border-radius: 15px;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
}
.container-02 .glassmorphic-card:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 10em;
  background: rgba(255,255,255,0.05);
  pointer-events: none;
}
.container-02 .glassmorphic-card .imgBox {
  position: relative;
  text-align: center;
}
.container-02 .glassmorphic-card .imgBox i {
  font-size: max(80px);
  color: rgba(255,255,255, 0.1);
}
.container-02 .glassmorphic-card .contentBox {
  position: relative;
  margin-top: 20px;
  text-align:center;
  transition: 0.5s;
}
.container-02 .glassmorphic-card .contentBox:before {
  content: 'AZT';
    position: absolute;
    top: -50px;
    left: -125px;
    width: 100%;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    transform: rotate(-90deg);
    color: rgba(0,0,0,0.2);
}
.container-02 .glassmorphic-card .contentBox h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
.container-02 .glassmorphic-card .contentBox p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.container-02 .glassmorphic-card .contentBox a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-left: 1px solid rgba(255,255,255,0.1);
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.glassmorphic-card:hover{
  box-shadow: 0 7px 50px 10px #ea5b0caa;
}
.container-02 p {
  z-index: 12;
  margin: 20px auto 10px;
  position: relative;
  color: #fff;
}
.container-02 p span {
  font-weight: 700;
}
.nft {
  max-width: 45%;
  margin: 2rem auto;
  border: 1px solid #ffffff22;
  background-color: #1d1d1b;
  background: linear-gradient(0deg, #1d1d1b 10%, rgba(234, 91, 12, 1.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
}
.nft hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}
.nft .main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.nft .main .tokenImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.nft .main .description {
  margin: 0.5rem 0;
  color: #fff;
}
.nft .main .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nft .main .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ea5b0c;
  font-weight: 700;
}
.nft .main .tokenInfo .duration {
  display: flex;
  align-items: center;
  color: #000;
  margin-right: 0.2rem;
}
.nft .main .creator {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}
.nft .main .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}
.nft .main .creator .wrapper img {
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 0;
}
.nft ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 80rem;
  transition: 0.7s all;
}
.nft:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #ea5b0caa;
  /*transform: scale(1.015);*/
  filter: brightness(1,02);
  line-height: 1.4;
}
.nft:hover ::before {
  filter: brightness(1);
  top: -100%;
  left: 200%;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg h1 {
  font-size: 20rem;
  filter: opacity(0.5);
}
.pojemnik{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px  Georgia, serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: Georgia, serif;
  font-weight: 400;
}

.form-control, 
textarea {
 width: 90%;
  background-color: transparent;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 60%;
  overflow: hidden;
  transition: all .2s ease-in-out;
  margin-left: 20%;
  box-shadow: 0 15px 15px rgba(234, 91, 0, 0.3);
  border-radius: 30px;
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px Verdana, sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px Verdana, sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px Verdana, sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

.f_label{
  color: azure;
}

#Sub_form_btn{
  padding: 10px;
  width: 90%;
  border-radius: 25px;
  font-family: Georgia, serif;
  box-shadow: 0 7px 50px 10px #ea5b0caa;
}

#Sub_form_btn:hover{
  background-color:#ea5b0c ;
  box-shadow: 0 7px 50px 10px #ea5b0caa;
}


/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .pozycja_menu_2 {
    top: 50%;
    right: 40%;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {

    margin: 0 auto;
  }
  .pozycja_menu_2 {
    top: 50%;
    right: 40%;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
  .pozycja_menu_2 {
    top: 50%;
    right: 40%;
  }
}

@media only screen and (max-width: 1250px) {
  .pojemnik{
    flex-direction: column;
  }
  .nft{
    max-width: 90%;
  }
  .pozycja_menu_2 {
    top: 13%;
    right: 4%;
  }
}

@media only screen and (max-width: 1000px) {
  .crumb1_menu{
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    width: 200px;
  }
  .menu_mobile {
    display:inline-block; 
  }
  .crumb1_menu li {
    margin: 2px;
    transform: skew(0deg);
    opacity: 1;
    text-align: center;
  }
  .crumb1_menu {
    display: none;
  }
  .crumb1_menu li a {
    transform:none;
  }
  .crumb1_menu_2 li {
    margin: 20px;
    transform: skew(0deg);
  }
  .crumb1_menu_2 {
    display: none;
  }
  .crumb1_menu_2 li a {
    transform:none;
  }
  .pozycja_menu_2 {
    top: 46%;
    right: 12%;
  }
  .nft .main{
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .hero2-text{
    top: 20%;
    margin: auto;
  }
  .hero2-text h1{
    font-size: 30px;
  }
  .hero2-text p{
    font-size: 18px;
  }
  .hero2-text button{
    font-size: 16px;
  }
  .pozycja_menu_2 {
    top: 47%;
    right: 3%;
  }
  .nft {
    max-width: 90%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}